*{
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 51px;
    padding-bottom: 51px;
}



.top_content{
    margin-top: 162.71px;
    margin-bottom: 162.75px;
}

.top_info{
    margin-top: 223px;
    margin-bottom: 255px;
}
